@{
    ViewData["Title"] = "Login";
}
@model LoginFormViewModel

<div>
    <form asp-validation-summary="ModelOnly" asp-controller="Auth" asp-action="Login" data-method="POST" id="LoginForm">
        <div class="mb-md-5 mt-md-4 pb-3">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-secondary mb-5">Please enter your login and password!</p>

            <div class="form-outline form-white mb-5">
                <input asp-for="Username" type="text" id="typeLoginX" class="form-control form-control-lg" placeholder="Login">
                <span asp-validation-for="Username" class="validation-message text-left"></span>
            </div>

            <div class="form-outline form-white mb-5">
                <input asp-for="Password" type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password">
                <span class="validation-message text-left" asp-validation-for="Password"></span>
            </div>

            <button class="button-primary btn btn-lg px-5" type="submit">Login</button>

        </div>
    </form>

    <div>
        <p class="mb-0">Don't have an account? <a class="button-secondary fw-bold" asp-controller="Auth" asp-action="Register">Sign Up</a></p>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}